.heroSwiper .swiper-pagination-bullet {
  width: 2px;
  height: 20px;
  background: #ffffff;
  border-radius: 0;
  opacity: 1;
  transition: all 0.3s;
  margin: 20px 0 !important;
}
.heroSwiper .swiper-pagination-bullet-active {
  background: #1ca8cb;
  opacity: 1;
}

.bullet_recommend,
.bullet_tour {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent !important;
  border: 1px solid #113d48 !important;
  cursor: pointer;
  transition: all 0.1s ease;
}

.bullet_recommend.swiper-pagination-bullet-active,
.bullet_tour.swiper-pagination-bullet-active {
  background-color: #1ca8cb !important;
  border-color: #1ca8cb !important;
}
